.button {
  width: 216px;
  height: 50px;
  border: none;
  background-color: #6bbd45;
  border-radius: 20px 2px 20px 2px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  line-height: 133%;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #b0e07d;
}

.button:focus {
  background-color: #b0e07d;
}
