.header {
  min-height: 122px;
}

.container-header {
  display: flex;
  align-items: center;
  min-height: 122px;
  max-width: 1670px;
  margin: 0 auto;
  padding: 35px 20px;
}

.header__logo-img {
  width: 153px;
  height: 82px;
  margin-right: 47px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.shape-icon {
  margin-top: 2px;
  margin-left: 5px;
  display: block;
  width: 10px;
  height: 7px;
  background: url(../../assets/shape-icon.svg);
}

a.header__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  color: #675a54;
  font-size: 14px;
  transition: color 0.2s linear;
}

a.header__link::after {
  content: "";
  display: block;
  position: absolute;
  transform: scaleX(0);
  bottom: 0;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to left, #6bbd45 20px, #2983d4 50%);
  transition: transform 0.3s ease-in-out;
}

a.header__link:hover::after {
  transform: scaleX(1);
}

a.header__phone {
  font-size: 16px;
  color: #0068b1;
  transition: color 0.2s linear;
  margin-left: auto;
  margin-right: 40px;
}

a.header__phone:hover {
  color: #2469a7;
}

a.header__phone .text--regular {
  font-weight: 400;
}

@media (max-width: 1590px) {
  .header__item:not(:last-child) {
    margin-right: 48px;
  }

  .header__logo-img {
    margin-right: 27px;
  }
}

@media (max-width: 1510px) {
  .header__item:not(:last-child) {
    margin-right: 28px;
  }
  .header__logo-img {
    width: 118px;
    height: 63px;
  }
}

@media (max-width: 1400px) {
  a.header__link {
    font-size: 12px;
  }
  .header__logo-img {
    width: 110px;
    height: 58px;
  }
}
