.container-header {
  display: flex;
  align-items: center;
  height: 122px;
  max-width: 1670px;
  margin: 0 auto;
  padding: 35px 20px;
}

.header__logo-img {
  width: 153px;
  height: 82px;
  margin-right: 47px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 60px;
}

.shape-icon {
  margin-top: 2px;
  margin-left: 7px;
  display: block;
  width: 10px;
  height: 7px;
  background: url(../../assets/shape-icon.svg);
  transition: transform 0.2s ease-in-out;
}

a.header__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  color: #675a54;
  font-size: 14px;
  transition: color 0.2s linear;
}

a.header__link.link--hover:hover {
  color: #6bbd45;
}

a.header__phone {
  font-size: 16px;
  color: #0068b1;
  margin-left: auto;
  margin-right: 40px;
  transition: color 0.2s linear;
}

a.header__phone:hover {
  color: #2469a7;
}

a.header__phone .text--regular {
  font-weight: 400;
}

/* dropdown */

.header__item {
  position: relative;
}

.header__item:hover .shape-icon {
  transform: translateY(5px);
}

.header__item:hover > .header__dropdown,
.header__item:active > .header__dropdown {
  display: block;
}

.header__dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  width: 215px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.header__dropdown::after {
  content: "";
  position: absolute;
  right: -2px;
  left: -2px;
  top: -4px;
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(to left, #6bbd45 20px, #2983d4 50%);
}

a.header__dropdown-link {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 50px;
  color: #675a54;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.2s linear;
}

.header__dropdown-link:hover {
  color: #6bbd45;
}

/* burger */

.header__burger-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border: none;
  background-color: #6bbd45;
  border-radius: 15px 2px 15px 2px;
}

.burger-lines {
  width: 17px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.burger-lines::after,
.burger-lines::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-lines::after {
  top: -6px;
}

.burger-lines::before {
  bottom: -6px;
}

/* break-points */

@media (max-width: 1590px) {
  .header__item:not(:last-child) {
    margin-right: 48px;
  }

  .header__logo-img {
    margin-right: 27px;
  }
}

@media (max-width: 1510px) {
  .header__item:not(:last-child) {
    margin-right: 28px;
  }
  .header__logo-img {
    width: 118px;
    height: 63px;
  }
}

@media (max-width: 1400px) {
  a.header__link {
    font-size: 12px;
  }
  .header__logo-img {
    width: 110px;
    height: 58px;
  }
}

@media (max-width: 1300px) {
  .container-header {
    height: 80px;
  }
  .header__list {
    display: none;
  }

  .header .button {
    display: none;
  }

  .header__logo-img {
    margin: 0;
  }

  a.header__phone {
    margin: 0 auto;
  }

  .header__burger-btn {
    display: flex;
  }
}

@media (max-width: 350px) {
  .header__logo-img {
    width: 80px;
    height: 45px;
  }
  a.header__phone {
    font-size: 14px;
  }
}
