@import "./whats-new-swiper.css";

.whats-new {
  margin-bottom: 100px;
  overflow: hidden;
}

.whats-new__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.whats-new__title {
  font-size: 36px;
  color: #675a54;
  margin-bottom: 50px;
}

.whats-new__tabs-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* tabs */
.whats-new__tabs.tabs {
  flex: 0 0 500px;
}

.whats-new__tabs-overlay.tabs__overlay {
  width: 24%;
}

.whats-new-btn-1 {
  width: 24%;
}

.whats-new-btn-2 {
  width: 38%;
}

.whats-new-btn-3 {
  width: 38%;
}

/* swiper-item */

.whats-new
  .swiper-container.active
  .swiper-slide.swiper-slide-visible
  .whats-new__swiper-item {
  opacity: 1;
  pointer-events: all;
}

.whats-new__swiper-item {
  pointer-events: none;
  position: relative;
  height: 520px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in;
}

.whats-new__swiper-item:hover {
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
}

.whats-new__swiper-image-container {
  height: 50%;
  overflow: hidden;
}

.whats-new__swiper-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whats-new__swiper-item-content {
  padding: 25px 15px;
}

.whats-new__swiper-item-title {
  font-size: 24px;
  color: #675a54;
  line-height: 121%;
  margin-bottom: 10px;
}

.whats-new__swiper-item-text {
  font-size: 16px;
  font-weight: 400;
  color: #392424;
  line-height: 137%;
  margin-bottom: 20px;
}

.whats-new__swiper-item-footer {
  position: absolute;
  bottom: 25px;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.whats-new__swiper-item-link {
  font-size: 14px;
  color: #6bbd45;
}

.whats-new__swiper-item-date {
  display: none;
  font-size: 16px;
  font-weight: 400;
  color: #979290;
}

.whats-new__news-swiper-slide .whats-new__swiper-item-date {
  display: block;
}

/* break-points */

@media (max-width: 1300px) {
  .whats-new__container {
    max-width: 920px;
  }
}

@media (max-width: 1024px) {
  .whats-new {
    margin-bottom: 60px;
  }

  .whats-new__container {
    max-width: 720px;
  }

  .whats-new__title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .whats-new__tabs-pagination-wrapper {
    overflow-x: auto;
    margin-bottom: 30px;
  }

  .whats-new__tabs.tabs {
    flex: 0 0 400px;
  }

  .whats-new__tabs-btn.tabs__btn {
    font-size: 12px;
  }

  .whats-new__swiper-item {
    height: 400px;
  }

  .whats-new__swiper-image-container {
    height: 40%;
  }

  .whats-new__swiper-item-content {
    padding-top: 15px;
  }

  .whats-new__swiper-item-title {
    font-size: 19px;
  }

  .whats-new__swiper-item-text {
    font-size: 13px;
  }

  .whats-new__swiper-item-link {
    font-size: 13px;
  }

  .whats-new__swiper-item-date {
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  .whats-new {
    margin-bottom: 40px;
  }
}

@media (max-width: 360px) {
  .whats-new__swiper-item-title {
    font-size: 16px;
  }
}
