.why__swiper-grid-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  overflow: hidden;
}

.why__info-swiper.swiper-container {
  width: 100%;
}

.why__swiper-footer-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.why__button.button {
  width: 254px;
}

.why__info-swiper-item {
  display: flex;
  justify-content: space-between;
  min-height: 200px;
}

.why__info-swiper-title-text-wrap {
  flex: 0 1 60%;
  color: #392424;
}

.why__info-swiper-title {
  font-size: 24px;
  line-height: 121%;
  margin-bottom: 20px;
}

.why__info-swiper-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 137%;
}

.why__info-swiper-icon {
  flex: 0 0 200px;
  height: 180px;
}

.percent-big-icon {
  background: url(../../assets/percent-big-icon.svg) center no-repeat;
}

.eye-icon {
  background: url(../../assets/eye-icon.svg) center no-repeat;
}

.case-icon {
  background: url(../../assets/case-icon.svg) center no-repeat;
}

.click-icon {
  background: url(../../assets/click-icon.svg) center no-repeat;
}

/* arrows */

.why-swiper-btns-pagination-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
}

.why__swiper-btn-prev.swiper-button-prev,
.why__swiper-btn-next.swiper-button-next {
  height: 3px;
  width: 20px;
  background-color: #6bbd45;
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  margin-top: 0;
}

.why__swiper-btn-prev.swiper-button-prev::after,
.why__swiper-btn-next.swiper-button-next::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
}

.why__swiper-btn-next.swiper-button-next::after {
  border-right: 3px solid #6bbd45;
  border-bottom: 3px solid #6bbd45;
  transform: rotate(-45deg);
  right: 0;
}

.why__swiper-btn-prev.swiper-button-prev::after {
  border-left: 3px solid #6bbd45;
  border-bottom: 3px solid #6bbd45;
  transform: rotate(45deg);
  left: 0;
}

.why__swiper-pagination.swiper-pagination {
  position: relative;
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  display: flex;
  justify-content: space-between;
  flex: 0 0 45%;
  margin: 0 17px;
}

.swiper-pagination.why__swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  opacity: 1;
  background-color: #d1d1d1;
}

.swiper-pagination.why__swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #6bbd45;
}

@media (max-width: 670px) {
  .why__info-swiper-item {
    flex-direction: column;
  }

  .why__info-swiper-title-text-wrap {
    margin-bottom: 35px;
  }

  .why__info-swiper-title {
    font-size: 20px;
    text-align: center;
  }

  .why__info-swiper-text {
    font-size: 15px;
    text-align: center;
  }

  .why__swiper-footer-wrap {
    flex-direction: column-reverse;
    align-items: center;
    height: 100px;
  }

  .why__swiper-btn-prev.swiper-button-prev,
  .why__swiper-btn-next.swiper-button-next {
    display: none;
  }

  .why-swiper-btns-pagination-wrapper {
    display: block;
  }

  .swiper-pagination.why__swiper-pagination .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 400px) {
  .why__info-swiper-title {
    font-size: 18px;
  }

  .why__info-swiper-text {
    font-size: 13px;
  }
}
