@import "./why-swiper-info.css";

.why {
  margin-bottom: 150px;
}

.why__container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.why__title {
  max-width: 540px;
  font-size: 36px;
  line-height: 122%;
  color: #675a54;
  margin-bottom: 40px;
}

.why__items-swiper.swiper-container {
  display: none;
}

.why__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  height: 700px;
}

.why__swiper-grid-container {
  grid-row: 2/4;
  grid-column: 1/3;
}

/* items */
.why__item {
  padding: 30px;
  font-size: 24px;
  color: #fff;
  background-color: #f3efed;
  border-radius: 3px;
  line-height: 121%;
  position: relative;
}

.why__item-icon {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.gaz--icon {
  background: url(../../assets/gaz-icon.svg) no-repeat center;
}

.hospital--icon {
  background: url(../../assets/hospital-icon.svg) no-repeat center;
}

.why__item-1.why__item,
.why__item-4.why__item {
  color: #392424;
}

.why__item-2.why__item {
  background: url("../../assets/why-image-1.jpg") no-repeat center;
  background-size: cover;
}

.why__item-3.why__item {
  background: url("../../assets/why-image-2.jpg") no-repeat center;
  background-size: cover;
}

.why__item-4.why__item:before {
  content: "";
  position: absolute;
  bottom: 15px;
  right: 40px;
  display: block;
  height: 50px;
  width: 25px;
  background-color: #7ec95c;
  border-radius: 50%;
  transform: rotate(-75deg);
}

.why__item-5.why__item {
  grid-row: 2/3;
  grid-column: 3/5;
  background: url(../../assets/why-image-3.jpg) center no-repeat;
  background-size: cover;
}

.why__item-6.why__item {
  grid-row: 3/4;
  grid-column: 3/5;
  background: url(../../assets/why-image-4.jpg) center no-repeat;
  background-size: cover;
}

/* break-points */

@media (max-width: 1300px) {
  .why__container {
    max-width: 920px;
  }

  .why__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    height: auto;
  }

  .why__grid .why__item {
    display: none;
  }

  .why__items-swiper.swiper-container {
    display: block;
  }

  .why__item {
    height: 240px;
  }

  .why__swiper-grid-container {
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
  }

  .why__items-swiper.swiper-container {
    margin-bottom: 30px;
  }

  .why__info-swiper-slide.swiper-slide {
    margin-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .why__container {
    max-width: 720px;
  }

  .why__title {
    font-size: 24px;
    max-width: 350px;
  }

  .why__item {
    font-size: 20px;
  }
}

@media (max-width: 670px) {
  .why__info-swiper-slide.swiper-slide {
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  .why__title {
    font-size: 22px;
  }
}
