.offers {
  margin-bottom: 100px;
  overflow: hidden;
}

.offers-container {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* tabs */

.offers__tabs {
  width: 250px;
  margin-bottom: 50px;
}

.offers__tabs-overlay {
  width: 125px;
}

.offers__tabs-btn {
  width: 50%;
}

/* swiper's buttons */
.offers__swiper-btns-wrap {
  position: absolute;
  right: 0;
  top: -80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.swiper-button-prev.offers__swiper-btn-prev {
  width: 20px;
  height: 3px;
  position: relative;
  border-radius: 5px;
  background-color: #6bbd45;
}

.swiper-button-prev.offers__swiper-btn-prev::after {
  font-size: 24px;
  position: absolute;
  top: -10px;
  left: -2px;
  color: #6bbd45;
}

.swiper-button-next.offers__swiper-btn-next {
  width: 20px;
  height: 3px;
  position: relative;
  border-radius: 5px;
  background-color: #6bbd45;
}

.swiper-button-next.offers__swiper-btn-next::after {
  font-size: 24px;
  position: absolute;
  right: -2px;
  top: -10px;
  color: #6bbd45;
}

.swiper-pagination.offers__swiper-pagination {
  display: flex;
  justify-content: space-between;
  width: 20px;
  position: relative;
  top: -10px;
}

.swiper-pagination.offers__swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  opacity: 1;
  background-color: #d1d1d1;
}

.swiper-pagination.offers__swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  background-color: #6bbd45;
}
/* styles swiper */

.offers__swiper.swiper-container {
  display: none;
  overflow: visible;
  position: relative;
}

.offers__swiper.swiper-container.active {
  display: block;
}

.offers__item {
  height: 500px;
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s linear;
}

.offers__item.sold {
  opacity: 0.5;
}

.offers__item:hover {
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
}

.offers__item-image-wrap {
  width: 100%;
  height: 50%;
  position: relative;
}

.offers__item-circle-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 58px;
  height: 58px;
  background-color: #ffffff;
  border-radius: 50%;
}

.offers__item-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
  line-height: 121%;
  padding-left: 20px;
}

.offers__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offers__item-subtitle {
  padding: 20px 20px 30px 20px;
}

.offers__item-text {
  font-size: 14px;
  color: #392424;
  line-height: 136%;
  font-weight: 400;
}

.offers__item-list {
  padding-top: 25px;
}

.offers__item-list-element {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  color: #675a54;
  line-height: 123%;
  margin-bottom: 10px;
  transition: color 0.2s linear;
}

.offers__element-icon {
  width: 15px;
  height: 18px;
  margin-right: 12px;
}

.icon--lock {
  background: url(../../assets/lock-icon.svg) center no-repeat;
}

.icon--clock {
  background: url(../../assets/clock-icon.svg) center no-repeat;
}

.icon--download {
  background: url(../../assets/download-icon.svg) center no-repeat;
}

.offers__item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 65px;
  font-size: 14px;
  color: #675a54;
  background-color: #f3efed;
  transition: color 0.2s linear;
}

.offers__item:hover .offers__item-footer,
.offers__item:hover .offers__item-list-element {
  color: #6bbd45;
}

.offers__item-button {
  flex: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: url(../../assets/half-border-circle.svg) no-repeat center;
  margin-left: 5px;
  position: relative;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.offers__item:hover .offers__item-button {
  transform: rotate(180deg);
  opacity: 0.5;
}

.offers__item-button-arrow {
  width: 17px;
  height: 2px;
  background-color: #6bbd45;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.offers__item-button-arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  transform: rotate(-45deg);
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #6bbd45;
  border-right: 2px solid #6bbd45;
}

.offers__item:hover .offers__item-button-arrow {
  transform: rotate(-180deg);
}
/* Yandex-map */

.offers__yandex-map {
  position: relative;
  display: none;
  width: 100%;
  height: 500px;
}

.offers__yandex-map.active {
  display: block;
}

.offers__yandex-map-link {
  position: absolute;
  right: 0;
  top: -80px;
  font-size: 14px;
  color: #2983d4;
  font-weight: 700;
  transition: color 0.2s linear;
}

.offers__yandex-map-link:hover {
  color: #2469a7;
}
/* break-points */

@media (max-width: 1300px) {
  .offers-container {
    max-width: 920px;
  }

  .offers__tabs {
    margin-bottom: 25px;
  }

  .offers__item {
    height: 300px;
  }

  .offers__yandex-map {
    height: 400px;
  }

  .offers__swiper-btns-wrap {
    display: none;
  }

  .offers__item-circle-logo {
    display: none;
  }

  .offers__item-list {
    display: none;
  }

  .offers__item-title {
    font-size: 18px;
    height: 40px;
  }

  .offers__item-text {
    font-size: 12px;
  }

  .offers__item-footer {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .offers {
    margin-bottom: 70px;
  }
  .offers-container {
    max-width: 720px;
  }
  .offers__yandex-map-link {
    display: none;
  }
}
