@import "./images-swiper.css";
@import "./content-swiper.css";

.about {
  margin-bottom: 100px;
}
.about__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.about__title {
  font-size: 36px;
  color: #675a54;
  margin-bottom: 50px;
}

.about__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1.4fr 1fr;
  gap: 15px;
  height: 650px;
  overflow: hidden;
}

.about__item {
  border-radius: 3px;
  font-weight: 400;
  padding: 35px 40px 0 35px;
}

.about__item h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.about__item p {
  font-size: 14px;
  line-height: 136%;
}

.about__swiper-images-grid-container {
  grid-row: 1/3;
}

/* item-1 */
.about__item-1 {
  grid-column: 2/4;
  border: 1px solid #d1d1d1;
  color: #392424;
}

/* item-2 */
.about__item-2 {
  background-color: #2983d4;
  color: #ffffff;
}

/* item-3 */

.about__item-3 {
  background-color: #f3efed;
}

.about__item-3-title {
  color: #392424;
}

.about__item-3-title span {
  color: #7ec95c;
}

/* item-4 */

.about__item-4 {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  color: #392424;
}

/* item-5 */
.about__item-5 {
  grid-column: 2/4;
  background-color: #7ec95c;
  color: #ffffff;
}

/* swiper-content */
.about__content-swiper.swiper-container {
  display: none;
}

@media (max-width: 1300px) {
  .about__container {
    max-width: 920px;
  }

  .about__title {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .about__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 450px;
    margin-bottom: 25px;
  }

  .about__item-desktop {
    display: none;
  }

  .about__swiper-images-grid-container {
    grid-row: 1/2;
  }

  .about__content-swiper.swiper-container {
    display: block;
  }
}

@media (max-width: 1024px) {
  .about__container {
    max-width: 720px;
  }

  .about__item {
    padding: 20px 30px 0 20px;
  }
}

@media (max-width: 540px) {
  .about__grid {
    height: 210px;
  }
}
