.footer {
  min-height: 355px;
  background-color: #675a54;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.footer__container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__menu-contacts-wrapper {
  display: flex;
  margin-bottom: 35px;
}

/* menu */

.footer__menu {
  flex: 0 0 80%;
  display: flex;
  margin-right: 20px;
}

.footer__menu-item {
  margin-right: 120px;
}

.footer__menu-title {
  margin-bottom: 20px;
}

.footer__menu-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  line-height: 136%;
  transition: color 0.2s linear;
}

.footer__menu-link:hover {
  color: #6bbd45;
}

/* contacts */

.footer__contacts-title {
  margin-bottom: 22px;
}

.footer__contacts-number-hours-wrap {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}

.footer__contacts-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.mini-phone-icon {
  background: url(../../assets/mini-phone-icon.svg) center no-repeat;
}

.location-icon {
  background: url(../../assets/location-icon.svg) center no-repeat;
}

.footer__contacts-phone-number {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  transition: color 0.2s linear;
}

.footer__contacts-phone-number:hover {
  color: #6bbd45;
}

.footer__contacts-text-hours {
  font-size: 13px;
  color: #d1d1d1;
  margin-bottom: 10px;
  line-height: 123%;
}

.footer__contacts-location {
  position: relative;
  font-size: 13px;
  padding-left: 25px;
}

.footer__contacts-location-text {
  margin-bottom: 5px;
}

.footer__contacts-location-link {
  position: relative;
  color: #fff;
  font-weight: 700;
  transition: color 0.2s linear;
}

.footer__contacts-location-link:hover {
  color: #6bbd45;
}

.footer__contacts-location-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s linear;
}

.footer__contacts-location-link:hover::after {
  background-color: #6bbd45;
}

/* bottom-text */

.footer__date-company {
  font-size: 12px;
  line-height: 133%;
  color: #aeaeae;
  margin-bottom: 7px;
}

.footer__business-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #aeaeae;
  margin-bottom: 15px;
}

.footer__business-link {
  color: #aeaeae;
  position: relative;
  transition: color 0.2s linear;
}

.footer__business-link:hover {
  color: #6bbd45;
}

.footer__business-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #aeaeae;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s linear;
}

.footer__business-link:hover::after {
  background-color: #6bbd45;
}

.footer__develop-text {
  display: flex;
  align-items: flex-start;
}

.footer__develop-icon {
  display: inline-block;
  width: 60px;
  height: 18px;
  margin-left: 5px;
  transition: opacity 0.2s linear;
}

.footer__develop-icon:hover {
  opacity: 0.7;
}

.iq-dev-icon {
  background: url(../../assets/iq-dev-icon.svg) center no-repeat;
}

.footer__bottom-text {
  font-size: 12px;
  color: #aeaeae;
  line-height: 133%;
}

/* break-points */
@media (max-width: 1300px) {
  .footer__container {
    max-width: 920px;
  }

  .footer__menu-contacts-wrapper {
    flex-direction: column;
  }

  .footer__menu {
    flex: 0 0 auto;
    margin-right: 0;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer__menu-item {
    margin-right: 0;
  }

  .footer__contacts {
    padding-left: 350px;
  }
}

@media (max-width: 1024px) {
  .footer__container {
    max-width: 720px;
  }

  .footer__contacts {
    padding-left: 250px;
  }
}

@media (max-width: 720px) {
  .footer__menu {
    display: none;
  }

  .footer__contacts {
    padding-left: 0;
  }

  .footer__business-wrapper {
    flex-direction: column;
  }

  .footer__business-text {
    margin-bottom: 15px;
  }

  .footer__business-link {
    text-decoration: underline;
    margin-bottom: 15px;
  }

  .footer__business-link::after {
    display: none;
  }

  .footer__bottom-text {
    line-height: 150%;
  }
}
