@import "./slider.css";

.calculations {
  margin-bottom: 150px;
}

.calculations__background {
  max-width: 1820px;
  background-color: #f3efed;
  margin: 0 auto;
}

.calculations__container {
  max-width: 1200px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 90px 25px 100px 120px;
}

.calculations__container::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  top: -50px;
  height: 50px;
  border-top: 10px solid #2983d4;
  border-right: 10px solid #2983d4;
  border-left: 10px solid #2983d4;
}

.calculations__container::before {
  content: "";
  position: absolute;
  height: 50px;
  left: 20px;
  right: 20px;
  bottom: -50px;
  border-bottom: 10px solid #6bbd45;
  border-right: 10px solid #6bbd45;
  border-left: 10px solid #6bbd45;
}

.calculations__container-gradient-line {
  position: absolute;
  width: 10px;
  left: 20px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, #6bbd45 80%, #2983d4 100%);
}

.calculations__title {
  font-size: 36px;
  color: #675a54;
  line-height: 122%;
  margin-bottom: 55px;
}

/* slider's wrap */

.calculations__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculations__slider-wrap {
  flex: 0 1 34%;
}

.calculations__slider-title {
  font-size: 16px;
  line-height: 113%;
  color: #675a54;
  margin-bottom: 25px;
}

.calculations__slider {
  margin-bottom: 20px;
  margin-right: 20px;
}

.calculations__min-max-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 137%;
  color: #392424;
  font-weight: 400;
}

/* break-points */

@media (max-width: 1300px) {
  .calculations__container {
    max-width: 920px;
    padding-left: 80px;
  }
}

@media (max-width: 1024px) {
  .calculations__container {
    max-width: 720px;
    padding: 50px 15px 30px 50px;
  }

  .calculations__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .calculations__slider-wrap {
    width: 100%;
    flex: 0 1 auto;
    margin-bottom: 50px;
  }
}
