@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-weight: 700;
}
/* global button */
.button {
  width: 216px;
  height: 40px;
  border: none;
  background-color: #6bbd45;
  border-radius: 20px 2px 20px 2px;
  font-weight: 700;
  color: #fff;
  font-size: 15px;
  line-height: 133%;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #b0e07d;
}

.button:focus {
  background-color: #b0e07d;
}

/* global tabs */

.tabs {
  display: flex;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #d1d1d1;
  position: relative;
}

.tabs__overlay {
  position: absolute;
  background-color: #6bbd45;
  height: 100%;
  left: 0;
  border-radius: 30px;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.tabs__btn {
  font-size: 16px;
  color: #675a54;
  cursor: pointer;
  height: 100%;
  border-radius: 30px;
  border: none;
  background-color: transparent;
  transition: color 0.4s ease-in-out;
}

.tabs__btn.active {
  font-weight: 700;
  color: #ffffff;
}
