*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
}
ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

img {
  display: block;
}
